.main-container{
    margin: 0 10%;
}

.owner-pictures{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-bottom: 20px;
    img{
        width:200px;
        height:200px;
        border-radius: 50%;
        object-fit: scale-down;
        box-shadow: 0px 0px 40px 2px #eeeeee;
    }
    p{
        font-size: 1.25rem;
        text-align: center;
        
    }
}

.text-container{
    margin-bottom: 40px;
    p{
        font-size:1.25rem;
    }
}

.contact{
    margin-bottom: 20px;
    h3{
        text-align: center;
    }
    form{
        text-align: center;
    input{
margin: 10px;
padding: 10px;

        }
        
    }
}
textarea{
    width: 50%;
}
.btn{
    background:#33393f;
    border-radius: 10px;
    color: white;
}
.image{
    text-align: center;
  position: relative;
  top: 2.5vh;
  
  img {
    width: 50%;
    height: auto;
  }
}