html {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  height: 100vh;
}

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
}

h3 {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
}

// NAVIGATION
.navbar {
  background: #f7f9f9;
  height: 15vh;
  width: 100%;
  &_container {
    // border:1px solid blue;
    height: 15vh;
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
  }
  &__logo {
    width: 20%;
    // border: 2px solid yellow;
    height: 15vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
  }
  img {
    width: 30%;
    display: block;
    text-align: center;
    // border: 1px solid green;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    list-style-type: none;
    // border: 1px solid red;
    width: 70%;
    li {
      // border: 1px solid lightgreen;
      width: 10%;
      text-align: right;
      padding: 0 5px 0 10px;
    }
    a {
      text-decoration: none;
      text-align: right;
      color: #838484;
      &:hover {
        color: black;
      }
    }
  }
}

// FOOTER
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 20vh;
  background-color: #33393f;
  padding: 2rem;
  ul {
    display: flex;
    li {
      list-style-type: none;
      a {
        text-decoration: none;
        color: #1179bf;
        padding: 2rem;
      }
    }
  }
  p {
    color: white;
    text-align: center;
  }
  p:nth-child(1) {
    font-weight: bold;
  }
  a {
    color: #1179bf;
  }
}
